/* Author : Munira *//* 
    Created on : May 26, 2017, 3:21:19 PM
    Author     : ASUS
*/

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.succees {
    padding: 20px;
    background-color: #228B22;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
